<hr>
<h3>Accesos directos</h3>
<p><a class="button" href="https://www.youtube.com/watch?v=8Gv5Dd622EE&list=RD8Gv5Dd622EE&start_radio=1">📄 Ver CV</a></p>
<p><a class="button" href="/2024/05/07/post.html">📊 Ver gráfico</a></p>
<p><a class="button" href="https://forms.gle/abc123" target="_blank">📬 Enviar mensaje</a></p>
<p><a class="button" href="https://forms.gle/abc123" target="_blank">📬 Hola perra</a></p>
<p><a class="button" href="https://forms.gle/abc123" target="_blank">📬 Entrégame tu sangre</a></p>
