---
---

@import "{{ site.theme }}";

/* Personalización: fondo más oscuro y texto más claro */
body {
    background-color: #f3f1e4;
    color: #000000;
}

/* Links */
a {
    color: #5f0101;
}

/* Opcional: botones */
.button {
    background-color: #962e1b;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;

    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px #00000050;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #b8452e;
        cursor: pointer;
    }
}
/* Fondo del sidebar */
.wrapper > header {
    background-color: #205e63; /* Cambia este color al que desees */
    color: #ffffff;           /* Texto en blanco */
}

