---
---

@import "{{ site.theme }}";

/* Personalización: fondo más oscuro y texto más claro */
body {
    background-color: #f3f1e4;
    color: #000000;
}

.header_2 small {
    font-size: 12px; /* Puedes usar 10px, 11px, etc. según lo que quieras */
    color: #888;     /* Opcional: para hacerla más sutil */
}  

/* Links */
a {
    color: #0004ec;
}

/* Opcional: botones */
.button {
    background-color: #910319;
    color: white;
    padding: 3px 7px;
    border-radius: 3px;
    display: inline-block;
    border: 2px;

    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 5px #00000050;
    transition: background-color 0.3s ease;

    width: 150px;     // ancho fijo
    height: 30px;     // alto fijo
    line-height: 40px; // centra el texto verticalmente

    text-align: left;

    &:hover {
        background-color: #b8452e;
        cursor: pointer;
    }
}
/* Fondo del sidebar */
.wrapper > header {
    background-color: #205e63; /* Cambia este color al que desees */
    color: #ffffff;           /* Texto en blanco */
}

