---
---

@import "{{ site.theme }}";

/* Personalización: fondo más oscuro y texto más claro */
body {
    background-color: #cec792;
    color: #000000;
}

.header_2 small {
    font-size: 15px; /* Puedes usar 10px, 11px, etc. según lo que quieras */
    color: #888;     /* Opcional: para hacerla más sutil */
    font-weight: bold;
}  

/* Links */
a {
    color: #0400ec;
}

/* Opcional: botones */
.button {
    background-color: #720516;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 1px;
    display: inline-block;
    border: 0.2px;

    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 2px 2px 5px #00000050;
    transition: background-color 0.3s ease;

    width: 145px;     // ancho fijo
    height: 30px;     // alto fijo
    line-height: 30px; // centra el texto verticalmente

    text-align: left;

    &:hover {
        background-color: #b8452e;
        cursor: pointer;
    }
}
/* Fondo del sidebar */
.wrapper > header {
    background-color: #205e63; /* Cambia este color al que desees */
    color: #ffffff;           /* Texto en blanco */
}
/* A PARTIR DE ACÁ ES PARA EL BLOG*/
.container {
    display: flex;
    flex-direction: row;
}
.sidebar {
    width: 18.84vw;
    background-color: #205e63;
    color: #ffffff;
    padding: 1rem;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
}
.sidebar a {
    color: #205e63;
    text-decoration: none;
}
.contenido {
    flex-grow: 1;
    padding: 1rem;
}  
.sidebar li.h2 { margin-left: 0; font-weight: bold; }
.sidebar li.h3 { margin-left: 1rem; font-weight: normal; }